* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	overflow: hidden;
    font-weight: 300;
    color: #444;
    line-height: 1.9;
}
input:focus,
select:focus,
textarea:focus {
	outline: none;
}
.signup {
	display: flex;
}
.signup-image {
	height: 100vh;
	flex-basis: 50%;
	
}
.container {
	flex-basis: 50%;
}
.signup-image img {
	width: 100%;
	margin-top: 90px;
	
}


.signup-content {
	padding-top: 60px;
	padding-left: 90px;
}
h2 {
	text-align: center;
	margin: 0;
	padding: 0;
	font-weight: 600;
	font-size: 28px;
	margin-bottom: 20px;
}
.signup-form,
.signin-form,
.signin-image {
	display: inline-block;
	width: 65%;
	overflow: hidden;

}

.form-submit {
	display: inline-block;
	background: #083e6f;
	color: white;
	border-bottom: none;
	width: 180px;
    height: 40px;
    align-items:center;
    align-content:center;
	border-radius: 10px;
	margin-left: 70px;
	margin-top: 15px;
	cursor: pointer;
}

.form-submit:hover {
	background: #4292dc;
}

#signin {
	margin-top: 16px;
}

.signup-image-link {
	font-size: 14px;
	color: #222;
	display: block;
	text-align: center;
	float:right;

}

.term-service {
	font-size: 13px;
	color: #222;
}

.signup-form {
	margin-left: 75px;
	margin-right: 75px;
	padding-left: 34px;
}

.register-form {
	width: 100%;
}

.form-group {
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;
}

input {
	width: 100%;
	display: block;
	border: none;
	border-bottom: 1px solid #999;
	padding: 6px 30px;
	font-family: Poppins;
	box-sizing: border-box;
}
input::-webkit-input-placeholder {
	color: gray;
}
input::-moz-placeholder {
	color: #e5e5e5;
}
input:-ms-input-placeholder {
	color: #e5e5e5;
}
input:-moz-placeholder {
	color: #e5e5e5;
}
input:focus {
	border-bottom: 1px solid #e5e5e5;
}
input:focus::-webkit-input-placeholder {
	color: #e5e5e5;
}
input:focus::-moz-placeholder {
	color: #e5e5e5;
}
input:focus:-ms-input-placeholder {
	color: #e5e5e5;
}
input:focus:-moz-placeholder {
	color: #e5e5e5;
}

label {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	color: #222;
}

.material-icons {
	font-size: 18px;
	color: #444;
}

p {
	font-size: 14px;
	margin-top: 15px;
	margin-left: 50px;
}

a {
	color: #083e6f;
}


.error{
  color: red;
    font-size:12px;
  background-color: white;
}